.steps-counter-wrapper {
  padding: 100px;
  display: flex;
  width: 450px;
  justify-content: space-between;
}

form > button {
  height: 30px;
  width: 60px;
}

label {
  font-weight: 700;
}

li {
  height: 30px;
}

.steps-counter-output > ul {
  margin-top: 30px;
}

.steps-counter-output > span {
  float: right;
  font-weight: 700;
}